.row
  .span6
    %h2.left Movies to see
    .right.btn-group
      .btn Date
      .btn Title
    %ul.clear.well.nav.nav-list{:style => "height: 500px; overflow-y: scroll;"}
      - @movie_years.sort.each do |year, movies|
        %li.nav-header= year
        - movies.each do |movie|
          %li
            %label.checkbox
              %input{:type => "checkbox"}
              %a{:href => "#"}= movie.title
  .span6
    = link_to 'Add movie to the list', admin_new_movie_path, :class => 'btn btn-large btn-primary', :style => 'width: 93%'
    %p{:style => "text-align: center; margin: 10px 0;"} — or —
    = link_to 'Add movie to the watchlist', admin_new_movie_path(:watchlist => true), :class => 'btn btn-large btn-success', :style => 'width: 93%'
    %h2{:style => "margin-top: 20px;"} Settings
    = form_tag(sessions_update_path, :method => :post, :class => 'well') do
      = label_tag :username, 'Username'
      = text_field_tag :username, nil, :placeholder => 'Username'
      = label_tag :password, 'New password'
      = password_field_tag :password, nil, :placeholder => 'New password'
      = label_tag :password_confirmation, 'Confirm new password'
      = password_field_tag :password_confirmation, nil, :placeholder => 'Confirm new password'
      = submit_tag 'Save', :class => 'btn', :style => 'display: block;'
